<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product Form</title>
</head>

<body>
    <h2>Find Product</h2>
    <form action="https://assignment-1-yzlh.onrender.com/greaterItem" method="POST">
        <div>
            <label for="productId">Enter Value:</label>
            <input type="number" id="productId" name="value" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>